* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }

  .bodyMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../ChuckWall_1.jpg");
    background-position: 50% 0;
  }

  .joke {
      background: #fff;
      margin: 10px 0px;
      font-size: 18px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 300px;
      border: 2px solid tomato;
      border-radius: 20px;
      padding: 10px;
  }

  .jokeRating {
    background: #fff;
    margin: 10px 0px;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border: 2px solid tomato;
    border-radius: 20px;
    padding: 10px;
  }

  .jokeRating div:nth-of-type(2) {
    text-align: center;
  }

  #rateBtn {
    
  }

